body {
    margin: 50px;
    background: linear-gradient(to right, rgb(255, 145, 0), rgb(250, 184, 84));
    font-family: arial;
    font-size: 1.2em;
}

header {
    font-family: baskerville old face, arial;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e3/Flag_of_Mexico_%281916-1934%29.svg");
    border: 1px solid white;
    text-align: center;
    font-size: .8em;
}

main {
    border: 1px solid white;
}
main,
footer {
	background-color: rgb(252, 191, 99);
    font-size: 1em;
}

h1 {
    align-self: center;
}

#intro {
    height: 400px;
}

#intro_photo {
    float: right;
    height: auto; 
    width: 300px;
    height: 400px;
    border: 10px;
    border-radius: 8px;
    border: 1px solid white;
}

#loma_bonita {
    height: 200px;
}

#loma_photo {
    float: right;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 200px;
    border-radius: 8px;
    border: 1px solid white;
}

#pitillal {
    height: 200px;
}

#pitillal_photo {
    float: right;
    height: 200px; 
    width: auto; 
    max-width: 300px; 
    border-radius: 8px;
    border: 1px solid white;
}

#aurora {
    height: 200px;
}

#aurora_photo {
    float: right;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 200px;
    border-radius: 8px;
    border: 1px solid white;
}

footer {
    text-align: center;
    font-size: .6em;

}

#space {
    background-color: rgb(255, 145, 0);
    color: rgb(255, 145, 0);
}

section {
    padding: 20px;
}